image: node:25-slim

stages:
  - build
  - publish

.install_tools: &install_tools |
  export DEBIAN_FRONTEND=noninteractive
  apt update
  apt -y install tar curl grep coreutils

build:extension:
  stage: build
  script:
    - *install_tools
    - version=$(grep '"version"' package.json | cut -d'"' -f4)
    - npm install
    - npm install --unsafe-perm -g js-yaml vsce
    - js-yaml syntaxes/opsi-script.tmLanguage.yaml > syntaxes/opsi-script.tmLanguage.json
    - vsce package
    - curl -sS "${OPSIDEVTOOLS_INSTALLER_URL_LINUX_X64}" | sh
    - '[ "${CI_COMMIT_TAG}" = "" ] && opsi-dev-cli -l6 binary push opsi-script-${version}.vsix --product=vscode-extension-opsi-script --system=all --architecture=all --version="${version}" --prerelease="${CI_JOB_ID}"'
    - '[ "${CI_COMMIT_TAG}" = "" ] || opsi-dev-cli -l6 binary push opsi-script-${version}.vsix --product=vscode-extension-opsi-script --system=all --architecture=all --version="${version}"'
  artifacts:
    name: 'vscode-extension-opsi-script'
    paths:
      - '*.vsix'
    expire_in: 2 days


publish:extension:
  stage: publish
  when: manual
  script:
    - *install_tools
    - npm install
    - npm install --unsafe-perm -g js-yaml vsce
    - js-yaml syntaxes/opsi-script.tmLanguage.yaml > syntaxes/opsi-script.tmLanguage.json
    - vsce publish -p ${MS_MARKETPLACE_PUBLISH_TOKEN}
